<%- include("partials/header.ejs") %>
<div class="container">
  <div class="title">
    <h1>Cryptocurrency Prices</h1>
  </div>
  <div class="card-container">
    <div class="image-card" id="first-card">
      <h2>Ethereum</h2>
      <p>$<%=base.ethereum%></p>
    </div>
    <div class="image-card" id="second-card">
      <h2>Solana</h2>
      <p>$<%=base.solana%></p>
    </div>
    <div class="image-card" id="third-card">
      <h2>Polygon</h2>
      <p>$<%=base.polygon%></p>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <form method="post">
      <label for="address">Input Contract Adress:</label>
      <input type="text" name="address" id="address">
      <label for="chainn">Choose a Chain</label>
      <select name="chain" id="chainn">
        <option value="ethereum">Ethereum</option>
        <option value="solana">Solana</option>
        <option value="base">Base</option>
        <option value="arbitrum-one">Arbitrum</option>
        <option value="polygon-pos">Polygon</option>
      </select>
      <input type="submit" value="Search" name="contractAdress" formaction="/">
    </form>
    <br>
    <% if (locals.price) {%>
      <h4>$<%=price%></h4>
    <%}%>
  </div>
  <div class="checker">

  </div>
</div>

<%- include("partials/header.ejs") %>